.purple {
  background-color: #7683cb;
}
.yellow {
  background-color: #f59e0b;
}
.green {
  background-color: #10b981;
}
.orange {
  background-color: #f97316;
}
.till {
  background-color: #14b8a6;
}
.red {
  background-color: #b91c1c;
}
.blue {
  background-color: #0ea5e9;
}
.passItem {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c3caea;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
}
@media (max-width: 767px) {
  .passItem {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.pass-initial-and-details-container {
  display: flex;
  flex-direction: row;
}
.initial-letter-container {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.name-initial {
  font-family: Roboto;
  font-size: 20px;
  color: #ffffff;
}
.pass-details-container {
  margin-left: 10px;
}
.web-name {
  font-family: Roboto;
  font-size: 13px;
  color: #ffffff;
  margin-top: 4px;
  margin-bottom: 4px;
}
.user-name {
  font-family: Roboto;
  font-size: 13px;
  color: #ffffff;
  margin-top: 4px;
  margin-bottom: 4px;
}
.password {
  font-family: Roboto;
  font-size: 13px;
  color: #ffffff;
  margin-top: 4px;
  margin-bottom: 4px;
}
.pass-image {
  height: 16px;
  width: 100px;
}
.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
}
.delete-logo {
  height: 25px;
  width: 25px;
}
