body {
  margin: 0px;
  box-sizing: border-box;
}
.main-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100vh;
  max-height: auto;
}
.logo-container {
  width: 80%;
}
.app-logo {
  align-self: flex-start;
  height: 50px;
  width: 150px;
}
.password-input-container {
  width: 80%;
  border-radius: 10px;
  background-color: #5763a5;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .password-input-container {
    width: 95%;
    flex-direction: column;
    justify-content: center;
  }
}
.form-container {
  background-color: #454f84;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .form-container {
    order: 1;
    width: 100%;
    margin-top: 20px;
  }
}
.lg-password-img {
  height: 300px;
  width: 300px;
}
@media (max-width: 767px) {
  .lg-password-img {
    display: none;
  }
}
.sm-password-img {
  height: 250px;
  width: 250px;
  display: none;
}
@media (max-width: 767px) {
  .sm-password-img {
    display: block;
    order: 0;
  }
}
.password-container-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.form-heading {
  font-family: Roboto;
  font-size: 20px;
  color: #f8fafc;
}
@media (max-width: 767px) {
  .form-heading {
    font-size: 15px;
  }
}
.input-containers {
  background-color: #f8fafc;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}
.input-container-image {
  height: 20px;
  width: 20px;
  margin: 10px;
}
.input-element {
  width: 100%;
  border: none;
  border-left: 1px solid #64748b;
  outline: none;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.submit-button {
  align-self: flex-end;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  background-color: #0b69ff;
  color: #f8fafc;
  margin-top: 10px;
}
.password-display-container {
  width: 80%;
  border-radius: 10px;
  background-color: #5763a5;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .password-display-container {
    width: 95%;
  }
}
.search-pass-count-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.pass-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.passwords {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .passwords {
    font-size: 12px;
  }
}
.count {
  border: 1px solid #ffffff;
  padding: 0px 10px 0px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 50px;
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .count {
    font-size: 10px;
  }
}
.search-input-containers {
  background-color: #f8fafc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}
.search-input-container-image {
  height: 15px;
  width: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .search-input-container-image {
    height: 12px;
    width: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
}
.search-element {
  width: 100%;
  border: none;
  border-left: 1px solid #64748b;
  outline: none;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media (max-width: 767px) {
  .search-element {
    width: 110px;
  }
}
.horizontal-rule {
  border: 1px solid #c3caea;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.checkbox-input-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}
.checkbox-element {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.show-pass {
  font-family: Roboto;
  color: #ffffff;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.no-password-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-show-img {
  height: 300px;
  width: 400px;
}
.no-password {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
}
.pass-list-container {
  align-self: flex-start;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .pass-list-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
